<h1>Blockcore // About</h1>

<p>Blockcore is an open source project started by a group of blockchain developers and engineers to realize a fully
  integrated platform for building custom blockchains.</p>

<h2>Contact us</h2>

<p>
  To get in contact with the team, <a href="https://discord.gg/xa5BxWr">join our Discord</a>.
</p>

<p>
  You can also contact us by e-mail to <a href="mailto:post@blockcore.net">post@blockcore.net</a>.
</p>

<h2>Sponsoring</h2>

<p>Blockcore is a group of independent individuals without any official organization behind it. All work is done on
  voluntary basis.</p>

<p>If you enjoy our software and services, please feel free to help continue the development and improvement of the
  Blockcore Platform by becoming an sponsor.</p>

<p>
  Funds provided to the Blockcore team will be utilized for server infrastructure, hosting services and other expenses
  related to the continued development and hosting of the Blockcore Platform.
</p>

<p>
  If you'd like to become an official sponsor, please contact us by e-mail address above.
</p>

<h3>Individual sponsor support</h3>

<p>You also have the option of providing support to the individuals working on Blockcore. Not everyone in the group have
  a sponsor service available, but those who do is listed below:</p>

<div class="sponsor-widget">
  <a href="https://github.com/sponsors/sondreb">
    <img src="https://avatars1.githubusercontent.com/u/309938?s=180&u=c82ed1827100905dc561460fdfc68ca463b29194&v=4">
    Sondre Bjellås
  </a>
</div>

<h2>Logos</h2>

<p>
Here are our logos and banners available for download and use.
</p>
<img src="assets/blockcore-256x256.png"><br>

<h3>Square</h3>

<ul>
  <li><a href="assets/blockcore-256x256.png">Dark 256x256</a></li>
  <li><a href="assets/blockcore-512x512.png">Dark 512x512</a></li>
  <li><a href="assets/blockcore-1024x1024.png">Dark 1024x1024</a></li>
  <li><a href="assets/blockcore-light-256x256.png">Light 256x256</a></li>
  <li><a href="assets/blockcore-light-512x512.png">Light 512x512</a></li>
  <li><a href="assets/blockcore-light-1024x1024.png">Light 1024x1024</a></li>
</ul>

<h3>Original</h3>

<ul>
  <li><a href="assets/blockcore.svg">Vector (SVG)</a></li>
  <li><a href="assets/blockcore-small.png">Dark 155x256</a></li>
  <li><a href="assets/blockcore.png">Dark 310x512</a></li>
  <li><a href="assets/blockcore-large.png">Dark 1242x2048</a></li>
  <li><a href="assets/blockcore-light-small.png">Light 155x256</a></li>
  <li><a href="assets/blockcore-light.png">Light 310x512</a></li>
  <li><a href="assets/blockcore-light-large.png">Light 1242x2048</a></li>
</ul>

<h3>Icons</h3>

<ul>
  <li><a href="assets/favicon.ico">favicon.ico (16, 32 sizes)</a></li>
  <li><a href="assets/blockcore.ico">blockcore.ico (16, 32, 96, 192, 256 sizes)</a></li>
</ul>

<h3>Banners</h3>

<ul>
  <li><a href="assets/blockcore-banner-728x90.png">Banner horizontal (728x90)</a></li>
  <li><a href="assets/blockcore-banner-300x600.png">Banner vertical (300x600)</a></li>
</ul>
