<h1>Blockcore /// About</h1>

<p>Blockcore is an open source project started by a group of blockchain developers and engineers to realize a fully
  integrated platform for building custom blockchains.</p>

<h2>Contact us</h2>

<p>
  To get in contact with the team, <a href="https://discord.gg/xa5BxWr">join our Discord</a>.
</p>

<p>
  You can also contact us by e-mail to <a href="mailto:post@blockcore.net">post@blockcore.net</a>.
</p>

<h2>Logos</h2>

<p>
Here are our logos and banners available for download and use.
</p>
<img class="mode-aware" src="assets/blockcore-256x256.png"><br>

<h3>Square</h3>

<ul>
  <li><a href="assets/blockcore-256x256.png">Dark 256x256</a></li>
  <li><a href="assets/blockcore-512x512.png">Dark 512x512</a></li>
  <li><a href="assets/blockcore-1024x1024.png">Dark 1024x1024</a></li>
  <li><a href="assets/blockcore-light-256x256.png">Light 256x256</a></li>
  <li><a href="assets/blockcore-light-512x512.png">Light 512x512</a></li>
  <li><a href="assets/blockcore-light-1024x1024.png">Light 1024x1024</a></li>
</ul>

<h3>Original</h3>

<ul>
  <li><a href="assets/blockcore.svg">Vector (SVG)</a></li>
  <li><a href="assets/blockcore-small.png">Dark 155x256</a></li>
  <li><a href="assets/blockcore.png">Dark 310x512</a></li>
  <li><a href="assets/blockcore-large.png">Dark 1242x2048</a></li>
  <li><a href="assets/blockcore-light-small.png">Light 155x256</a></li>
  <li><a href="assets/blockcore-light.png">Light 310x512</a></li>
  <li><a href="assets/blockcore-light-large.png">Light 1242x2048</a></li>
</ul>

<h3>Icons</h3>

<ul>
  <li><a href="assets/favicon.ico">favicon.ico (16, 32 sizes)</a></li>
  <li><a href="assets/blockcore.ico">blockcore.ico (16, 32, 96, 192, 256 sizes)</a></li>
</ul>

<h3>Banners</h3>

<ul>
  <li><a href="assets/blockcore-banner-728x90.png">Banner horizontal (728x90)</a></li>
  <li><a href="assets/blockcore-banner-300x600.png">Banner vertical (300x600)</a></li>
</ul>
