<h1>Blockcore // Chains</h1>

<p>As anyone is free to create their own blockchains of the Blockcore Platform, the Blockcore team is not responsible for their deployments, 
  infrastructure, support and have no roles associated with the different implementations (blockchains).</p>

<p>If you are building and running a blockchain based on Blockcore, please let us know and we can get you listed below.</p>

<h2>Blockchains</h2>

<ul>
  <li><a href="https://github.com/Solaris-Project">Solaris</a></li>
  <li><a href="https://github.com/sonofsatoshi2020/xds">XDS</a></li>
  <li><a href="https://github.com/x42protocol">x42</a></li>
</ul>

<h2>Chain Setup</h2>

<p>We at Blockcore believe in making blockchain technology easier and more approachable for every developer, so part of this guides us in how 
  we build our technologies. We attempt to make our technology easily customizeable through setup and configuration, as oppose to code changes.
</p>

<p>
  We have a seperate web site where we publish chain setup information for the different chains. While this is officially hosted by Blockcore, 
  it is the individual teams that are responsible for maintaining these setup definitions.
</p>

<p>
  <a href="https://chains.blockcore.net">https://chains.blockcore.net</a>
</p>