<div class="wrap">
   <div class="app_block">
      <div class="app_block_info">
         <div class="product-box">
            <div class="product-box-logo">
               <img src="assets/blockcore-logo-1024.png" class="mode-aware" />
            </div>
            <div class="product-box-title product-wallet">
               <h2>Wallet Guide</h2>
            </div>
         </div>
         <div class="app_block_caption">
            Every single feature demonstrated below, this is a quick way to
            learn how to use our wallet and experience what features exists.
         </div>
         <!-- <div class="app_block_buttons">
               <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank" class="button chrome">Browser Extension</a>
               <a href="https://wallet.blockcore.net/" target="_blank" class="button chrome">Web Wallet</a>
               <a href="https://github.com/block-core/blockcore-wallet" target="_blank" class="button github">Source Code</a>
           </div> -->
      </div>
      <!-- <div class="app_block_screen">
         <div class="app_block_screen_img"></div>
      </div> -->
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation"><a href="/wallet/guide#wallet-installation">Installation of Extension</a></h3>
         <p>
            You can install and use the Blockcore Wallet either as an browser extension, or directly in a browser tab.
         </p>
         <p>
            Some features are only available when installed as a browser extension.
         </p>
         <p>
            <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj">Install Extension</a>
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-web-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation"><a href="/wallet/guide#wallet-installation">Installation of Web App</a></h3>
         <p>
            You can install the Web Wallet using your web browser, giving the wallet a dedicated icon on your start menu.
         </p>
         <p>
            
         </p>
         <p>
            <br><a href="https://wallet.blockcore.net/">Open Web Wallet</a>
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-create-wallet.gif" /></div>
      <div>
         <h3 id="wallet-create-wallet"><a href="/wallet/guide#wallet-create-wallet">Create Wallet</a></h3>
         <p>
            To get started, go through the "Create New Wallet" guide and select which type of accounts you want to use.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/edit-wallet-and-account.gif" /></div>
      <div>
         <h3 id="wallet-edit"><a href="/wallet/guide#wallet-edit">Edit Wallet and Account</a></h3>
         <p>
            You can at any time edit your wallets and accounts. You can change the name and icons.
         </p>
         <p>
            You can also remove individual accounts and complete wallets and all accounts in it.
         </p>
      </div>
   </div>

   <!-- <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-memo.gif" /></div>
      <div>
         <h3 id="transaction-memo"><a href="/wallet/guide#transaction-memo">Transaction Memo</a></h3>
         <p>
            When you send using the wallet, you can expand the "Options..."
            button to enter your private memo that is stored locally in your
            wallet.
         </p>
         <p>
            You can also edit the memo by selecting an existing transaction in
            your history.
         </p>
      </div>
   </div> -->

</div>
