<div class="wrap">
   <div class="app_block">
      <div class="app_block_info">
         <div class="product-box">
            <div class="product-box-logo">
               <img src="assets/blockcore-logo-1024.png" class="mode-aware" />
            </div>
            <div class="product-box-title product-wallet">
               <h2>Wallet Guide</h2>
            </div>
         </div>
         <div class="app_block_caption">
            Every single feature demonstrated below, this is a quick way to
            learn how to use our wallet and experience what features exists.
         </div>
         <!-- <div class="app_block_buttons">
               <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank" class="button chrome">Browser Extension</a>
               <a href="https://wallet.blockcore.net/" target="_blank" class="button chrome">Web Wallet</a>
               <a href="https://github.com/block-core/blockcore-wallet" target="_blank" class="button github">Source Code</a>
           </div> -->
      </div>
      <!-- <div class="app_block_screen">
         <div class="app_block_screen_img"></div>
      </div> -->
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation">
            <a href="/wallet/guide#wallet-installation"
               >Installation of Extension</a
            >
         </h3>
         <p>
            You can install and use the Blockcore Wallet either as an browser
            extension, or directly in a browser tab.
         </p>
         <p>
            Some features are only available when installed as a browser
            extension.
         </p>
         <p>
            <a
               href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj"
               >Install Extension</a
            >
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-web-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation">
            <a href="/wallet/guide#wallet-installation"
               >Installation of Web App</a
            >
         </h3>
         <p>
            You can install the Web Wallet using your web browser, giving the
            wallet a dedicated icon on your start menu.
         </p>
         <p></p>
         <p>
            <br /><a href="https://wallet.blockcore.net/">Open Web Wallet</a>
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-create-wallet.gif" /></div>
      <div>
         <h3 id="wallet-create-wallet">
            <a href="/wallet/guide#wallet-create-wallet">Create Wallet</a>
         </h3>
         <p>
            To get started, go through the "Create New Wallet" guide and select
            which type of accounts you want to use.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/edit-wallet-and-account.gif" /></div>
      <div>
         <h3 id="wallet-edit">
            <a href="/wallet/guide#wallet-edit">Edit Wallet and Account</a>
         </h3>
         <p>
            You can at any time edit your wallets and accounts. You can change
            the name and icons.
         </p>
         <p>
            You can also remove individual accounts and complete wallets and all
            accounts in it.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-create-account.gif" /></div>
      <div>
         <h3 id="wallet-create-account">
            <a href="/wallet/guide#wallet-create-account">Create Account</a>
         </h3>
         <p>
            You can add multiple accounts to your wallets, even after the
            initial setup.
         </p>
         <p>
            Go to the menu on the top right, and choose "Add Account". Fill out
            what network and other details you need.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-receive-payment.gif" /></div>
      <div>
         <h3 id="receive-payment">
            <a href="/wallet/guide#receive-payment">Receive Payment</a>
         </h3>
         <p>
            You can receive payment either by using your next receive address,
            or by creating a payment request.
         </p>
         <p>
            Every time you receive payment, you get a new receive address. This
            is for your privacy.
         </p>
         <p>
            Address and Payment Requests can be shared as text by messenger,
            e-mail, or by QR codes that can be scanned by mobile phones.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-send.gif" /></div>
      <div>
         <h3 id="send-payment">
            <a href="/wallet/guide#send-payment">Send Payment</a>
         </h3>
         <p>
            You can send payment very easily and quickly. If you receive a payment request, you can paste that 
            and all fields will be auto-filled.
         </p>
         <p>
            You can enter a personal memo that is stored locally in your account history.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-address-book.gif" /></div>
      <div>
         <h3 id="address-book">
            <a href="/wallet/guide#address-book">Address Book</a>
         </h3>
         <p>
            You can add your contacts and their address, for different networks, to quickly send multiple payments to the same contact.
         </p>
         <p>
            When you paste contact address, we'll attempt to automatically recognice what network it belongs to.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-settings.gif" /></div>
      <div>
         <h3 id="settings">
            <a href="/wallet/guide#settings">Settings</a>
         </h3>
         <p>
            You can access settings from the left menu. It allows you to customize the wallet according to your preferences.
         </p>
         <p>
            More language support is added all the time, if your native language is not yet supported, please let us know.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-protocol-handler.gif" /></div>
      <div>
         <h3 id="protocol-handler">
            <a href="/wallet/guide#protocol-handler">Protocol Handler</a>
         </h3>
         <p>
            First action in settings is Protocol Handler. This allows you to register the wallet to handle links that have 
            the "web+pay" prefix.
         </p>
         <p>
            When this is enabled, when you click links that has a payment request in it, the wallet will automatically open.
         </p>
      </div>
   </div>
   
   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-network-status.gif" /></div>
      <div>
         <h3 id="network-status">
            <a href="/wallet/guide#network-status">Network Status</a>
         </h3>
         <p>
            The network status gives you insight to the current available servers for the accounts you have in your wallet.
         </p>
         <p>
            The buttons allows you to select a different than the automatically selected server.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-change-password.gif" /></div>
      <div>
         <h3 id="change-password">
            <a href="/wallet/guide#change-password">Change Password</a>
         </h3>
         <p>
            You can change the password that is currently used to securely save your wallet on your device.
         </p>
         <p>
            The password should be as strong as possible. If your device is lost and unlocked, an attacker can run 
            computers to guess your password and gain access to your wallet.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-recovery-phrase.gif" /></div>
      <div>
         <h3 id="reveal-recovery-phrase">
            <a href="/wallet/guide#reveal-recovery-phrase">Reveal Recovery Phrase</a>
         </h3>
         <p>
            Your secret recovery phrase, should at all times be kept secret and hidden from others.
         </p>
         <p>
            If you share this with anyone, they can take control of everything.
         </p>
         <p>
            If you lost your recovery phrase or need access to it, you can reveal it with your password in settings.
         </p>
      </div>
   </div>

   <!-- <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-memo.gif" /></div>
      <div>
         <h3 id="transaction-memo"><a href="/wallet/guide#transaction-memo">Transaction Memo</a></h3>
         <p>
            When you send using the wallet, you can expand the "Options..."
            button to enter your private memo that is stored locally in your
            wallet.
         </p>
         <p>
            You can also edit the memo by selecting an existing transaction in
            your history.
         </p>
      </div>
   </div> -->
</div>
