<div class="page-two">
   <h1>Wallet Guide</h1>

   <p>
      Below is a quick way to learn how
      to use the Blockcore wallet and some of its features.
   </p>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation">
            <a href="/wallet/guide#wallet-installation" class="nolink">Installation of Extension</a>
         </h3>
         <p>
            Users can install and use the Blockcore wallet either as a browser
            extension, or directly in a browser tab.
         </p>
         <p>
            Please be aware some of the Blockcore wallet features are only available when it is installed as a browser
            extension.
         </p>
         <p>
            <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj">Install
               Extension</a>
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-web-installation.gif" /></div>
      <div>
         <h3 id="wallet-installation">
            <a href="/wallet/guide#wallet-installation" class="nolink">Installation of Web App</a>
         </h3>
         <p>
            Users should install the Blockcore web wallet via a web browser, which will provide a dedicated icon on
            their start menus for convenient access.
         </p>
         <p></p>
         <p>
            <br /><a href="https://wallet.blockcore.net/">Open Web Wallet</a>
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-create-wallet.gif" /></div>
      <div>
         <h3 id="wallet-create-wallet">
            <a href="/wallet/guide#wallet-create-wallet" class="nolink">Create Wallet</a>
         </h3>
         <p>
            To get started, users should go through the "Create New Wallet" guide and select
            which type of accounts they want to use.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/edit-wallet-and-account.gif" /></div>
      <div>
         <h3 id="wallet-edit">
            <a href="/wallet/guide#wallet-edit" class="nolink">Edit Wallet and Account</a>
         </h3>
         <p>
            Users can edit their wallets and accounts at any time, including changing names and icons.
            Additionally, they have the option to remove individual accounts or entire wallets as needed.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-create-account.gif" /></div>
      <div>
         <h3 id="wallet-create-account">
            <a href="/wallet/guide#wallet-create-account" class="nolink">Create Account</a>
         </h3>
         <p>
            Users can add multiple accounts to their wallets, even after the
            initial setup has taken place.
         </p>
         <p>
            Users should go to the menu on the top right, and choose "Add Account". They are required to select the
            desired network and
            then to provide details.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-receive-payment.gif" /></div>
      <div>
         <h3 id="receive-payment">
            <a href="/wallet/guide#receive-payment" class="nolink">Receive Payment</a>
         </h3>
         <p>
            Users can receive payments either by utilizing their next receiving addresses or by creating payment
            requests.
            To enhance privacy, a new receiving address is provided for each incoming payment.
            Sharing address and payment requests can be done through text messages, emails, or scannable QR codes using
            mobile phones.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-send.gif" /></div>
      <div>
         <h3 id="send-payment">
            <a href="/wallet/guide#send-payment" class="nolink">Send Payment</a>
         </h3>
         <p>
            Users can send payments easily and quickly. If they receive
            payment requests, they can copy and paste the receiving addresses and all fields will be
            automatically filled out.
         </p>
         <p>
            Users should enter personal memo's, which will be stored locally on their accounts'
            history.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-address-book.gif" /></div>
      <div>
         <h3 id="address-book">
            <a href="/wallet/guide#address-book" class="nolink">Address Book</a>
         </h3>
         <p>
            Users can add their contacts and contacts' addresses for different networks
            to send multiple payments to them quickly.
         </p>
         <p>
            When users enter contacts' addresses, system will attempt to
            recognize what network they belong to automatically.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-settings.gif" /></div>
      <div>
         <h3 id="settings">
            <a href="/wallet/guide#settings" class="nolink">Settings</a>
         </h3>
         <p>
            Users can access settings from the left menu. This feature allows users to
            customize wallets according to users' preferences. For example, more language support is added routinely,
            and users can select the desired languages.
            If some of the languages are not supported yet, please let us know.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-protocol-handler.gif" /></div>
      <div>
         <h3 id="protocol-handler">
            <a href="/wallet/guide#protocol-handler" class="nolink">Protocol Handler</a>
         </h3>
         <p>
            The first step to take is to go settings and to activate the Protocol Handler. This feature allows users to
            register wallets to handle links that have the "web+pay" prefix. When this feature is enabled, users can click on the payment request links to open wallets automatically.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-network-status.gif" /></div>
      <div>
         <h3 id="network-status">
            <a href="/wallet/guide#network-status" class="nolink">Network Status</a>
         </h3>
         <p>
            The network status provides insights to current available
            servers for users' accounts in their wallets.
            Instead of servers being automatically selected, users have the option to use buttons to choose different
            servers.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-change-password.gif" /></div>
      <div>
         <h3 id="change-password">
            <a href="/wallet/guide#change-password" class="nolink">Change Password</a>
         </h3>
         <p>
            Users can change their passwords that are currently in use to save
            the wallets on their devices securely.
         </p>
         <p>
            The password should be as strong as possible. If users devices are lost
            and unlocked, an attacker can run computers to guess their passwords
            and to gain access to their wallets.
         </p>
      </div>
   </div>

   <div class="guide guide-left">
      <div><img src="/assets/guide/wallet-recovery-phrase.gif" /></div>
      <div>
         <h3 id="reveal-recovery-phrase">
            <a href="/wallet/guide#reveal-recovery-phrase" class="nolink">Reveal Recovery Phrase</a>
         </h3>
         <p>
            Users' secret recovery phrases, should at all times be kept confidential and
            hidden from others.
         </p>
         <p>
            If users share the recovery phrases with anyone, their accounts will be exposed. This means strangers can
            take control of everything.
         </p>
         <p>
            If users lose their recovery phrases or need access to them, users can
            reveal the recovery phrases by using passwords in settings.
         </p>
      </div>
   </div>

   <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-language-rtl.gif" /></div>
      <div>
         <h3 id="internationalization">
            <a href="/wallet/guide#internationalization" class="nolink">Internationalization support</a>
         </h3>
         <p>
            The world consists of many cultures and languages, we strive to
            support multiple in the Blockcore wallet.
         </p>
         <p>
            From the language button accessible in the top menu, users can change between the supported languages at any
            time. The system changes the orientation either from left-to-right
            or right-to-left accordingly.
         </p>
      </div>
   </div>

   <!-- <div class="guide guide-right">
      <div><img src="/assets/guide/wallet-memo.gif" /></div>
      <div>
         <h3 id="transaction-memo"><a href="/wallet/guide#transaction-memo">Transaction Memo</a></h3>
         <p>
            When you send using the wallet, you can expand the "Options..."
            button to enter your private memo that is stored locally in your
            wallet.
         </p>
         <p>
            You can also edit the memo by selecting an existing transaction in
            your history.
         </p>
      </div>
   </div> -->
</div>
