<h1>Blockcore /// Sponsors</h1>

<h2>Sponsoring</h2>

<p>Blockcore is a group of independent individuals without any official organization behind it. All work is done on
  voluntary basis.</p>

<p>If you enjoy our software and services, please feel free to help continue the development and improvement of the
  Blockcore Platform by becoming an sponsor.</p>

<p>
  Funds provided to the Blockcore team will be utilized for server infrastructure, hosting services and other expenses
  related to the continued development and hosting of the Blockcore Platform.
</p>

<p>
  If you'd like to become an official sponsor, please contact us by e-mail at <a href="mailto:post@blockcore.net">post@blockcore.net</a>.
</p>

<h3>Individual sponsor support</h3>

<p>You also have the option of providing support to the individuals working on Blockcore. Not everyone in the group have
  a sponsor service available, but those who do is listed below:</p>

<div class="sponsor-widget">
  <a href="https://github.com/sponsors/sondreb">
    <img src="https://avatars1.githubusercontent.com/u/309938?s=180&u=c82ed1827100905dc561460fdfc68ca463b29194&v=4">
    Sondre Bjellås
  </a>
</div>

