.navbar {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 64px;
  padding: 10px 0px 4px 20px;
}

.nav-link {
  text-decoration: none;
  color: #17bebb;
}

.nav-link:hover {
  text-decoration: underline;
}

.link-active .nav-link {
  text-decoration: none;
  color: white;
}

.navbar-nav {
  display: inline-block;
  font-size: 1.4em;
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}