.navbar {
  display: flex;
  /* align-items: center; */
  color: #2e2e2e;
  
  background-image: url('/assets/top-background.png');
  background-repeat: repeat-x;
  border-top: 19px solid #2e2e2e;
  height: 366px;
}



.nav-link {
  text-decoration: none;
  color: #2e2e2e;
}

.nav-link:hover:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background:#2e2e2e;
}

.link-active .nav-link {
  text-decoration: none;
  color: #2e2e2e;
}

.link-active a:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background:#2e2e2e;
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 6px;
}