<h1>Blockcore /// Chains</h1>

<p>As anyone is free to <a routerLink="/create-chain">create their own blockchains</a> of the Blockcore Platform, the Blockcore team is not responsible for their deployments, 
  infrastructure, support and have no roles associated with the different implementations (blockchains).</p>

<p>If you are building and running a blockchain based on Blockcore, please let us know and we can get you listed below.</p>

<p>Want to create your own blockchain? Use our <a routerLink="/create-chain">instructions and generators here</a>.</p>

<h2>Supported Blockchains</h2>

<ul>
  <li>Bitcoin</li>
  <li><a href="https://www.city-chain.org/">City Chain (CITY)</a></li>
  <li><a href="https://impleum.com/">Impleum (IMPLX)</a></li>
  <li><a href="https://economy.openexo.com/">ExO Economy (EXOS)</a></li>
  <li><a href="https://www.rutanio.com/">Rutanio (RUTA)</a></li>
  <li><a href="https://github.com/Solaris-Project">Solaris (XLR)</a></li>
  <li><a href="https://www.stratisplatform.com/">Stratis (STRAT)</a></li>
  <li><a href="https://github.com/sonofsatoshi2020/xds">XDS (XDS)</a></li>
  <li><a href="https://github.com/x42protocol">x42 (X42)</a></li>
</ul>

<h2>Reference Nodes</h2>

<p>The Blockcore team provides reference implementations for various blockchains. These are unsupported node software, use with caution. You can look at these to 
  get inspiration and examples on building your own customized blockchain.
</p>

<p>
  <a href="https://github.com/block-core/blockcore-nodes">https://github.com/block-core/blockcore-nodes</a>
</p>

<h2>Chain Setup</h2>

<p>We at Blockcore believe in making blockchain technology easier and more approachable for every developer, so part of this guides us in how 
  we build our technologies. We attempt to make our technology easily customizeable through setup and configuration, as oppose to code changes.
</p>

<p>
  We have a seperate web site where we publish chain setup information for the different chains. While this is officially hosted by Blockcore, 
  it is the individual teams that are responsible for maintaining these setup definitions.
</p>

<p>
  <a href="https://chains.blockcore.net">https://chains.blockcore.net</a>
</p>

<h2>Hosted Services</h2>

<p>While anyone are free to fork and modify our software, we also host our own services running some of the blockchains that are implemented on 
  Blockcore. These are hosted with no SLA (Service Level Agreement), and currently for free. If you'd like us to continue providing this service 
  to the community, consider becoming a sponsor of Blockcore.
</p>

<h3>Blockcore Explorer</h3>

Multi Chain: <a href="https://explorer.blockcore.net">https://explorer.blockcore.net</a>

<h3>Blockcore Indexer</h3>

<ul>
  <li><a href="https://btc.indexer.blockcore.net">https://btc.indexer.blockcore.net</a></li>
   <li><a href="https://city.indexer.blockcore.net">https://city.indexer.blockcore.net</a></li>
   <li><a href="https://implx.indexer.blockcore.net">https://implx.indexer.blockcore.net</a></li>
   <li><a href="https://exos.indexer.blockcore.net">https://exos.indexer.blockcore.net</a></li>
   <li><a href="https://ruta.indexer.blockcore.net">https://ruta.indexer.blockcore.net</a></li>
   <li><a href="https://strat.indexer.blockcore.net">https://strat.indexer.blockcore.net</a></li>
   <li><a href="https://xds.indexer.blockcore.net">https://xds.indexer.blockcore.net</a></li>
   <li><a href="https://xlr.indexer.blockcore.net">https://xlr.indexer.blockcore.net</a></li>
   <li><a href="https://x42.indexer.blockcore.net">https://x42.indexer.blockcore.net</a></li>
</ul>
