/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

html {
  font-size: 22px;
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  /* background-color: #1f1f1f; */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  margin-top: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: #f3b623;
}

.accent {
  position: relative;
}

/* .accent::after {
  content: "";
  display: block;
  width: 220px;
  background-color: #e4572e;
  height: 8px;
  border-bottom: 10px solid #e4572e;
} */

.accent:before {
  position: absolute;
  content: "";
  height: 0.2em;
  bottom: 0.2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  /* background: RGBA(255, 204, 81, 0.75); */
  background: RGBA(243, 182, 35, 0.72);
}

/* .accent:before {
  content: "";
  display: block;
  width: 220px;
  background-color: #e1e1e1;
  height: 8px;
} */

.loading-text {
  color: white;
  text-align: center;
  margin-top: 3em;
}

.content {
  padding: 0 6em 1em 6em;
  min-height: 40em;
  background-color: white;
  max-width: 1024px;
}

.footer {
  background-color: #1f1f1f;
  color: #969696;

  background-image: url("/assets/footer-background.png");
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #f3b623 !important;
}

a {
  color: #2e2e2e;
  position: relative;
  text-decoration: underline;
}

a:hover {
  color: #ffcc51;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #2e2e2e;
  /* background: RGBA(255, 204, 81, 0.75); */
}

.link:hover:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #f3b623;
  /* background: RGBA(255, 204, 81, 0.75); */
}

.btn {
  background-color: #e4572e;
  height: 2em;
  width: 3em;
  padding: 0.8em;
  border-radius: 0.3em;
}

a.btn {
  color: white;
  text-decoration: none;
}

a:hover.btn {
  text-decoration: none;
  background-color: #17bebb;
}

.logo {
  width: 200px;
  margin-right: 4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 30em 1auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logo-container content-container";
}

.logo-container {
  grid-area: logo-container;
}

.content-container {
  grid-area: content-container;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-left footer-right";
}

.footer-left {
  padding-left: 3em;
  grid-area: footer-left;
  align-self: center;
}

.footer-right {
  padding-left: 3em;
  grid-area: footer-right;
  align-self: center;
}

.icon-links {
  font-size: 3em;
}

.icon-links a {
  margin-right: 0.2em;
}

.icon-links a:hover {
  color: white;
}

ul {
  list-style-type: square;
}

.sponsor-widget a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor-widget img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0px 0px 0px 2px #ffcc51;
  transition: box-shadow 0.25s linear;
  margin: 0.5em;
}

.sponsor-widget img:hover {
  box-shadow: 0px 0px 0px 6px #ffcc51;
  transition: box-shadow 0.25s linear;
}

.navbar-logo {
  width: 80px;
  padding: 66px 0px 0px 144px;
}

.navbar-nav {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  text-align: right;
  flex-grow: 2;
  padding-top: 80px;
  padding-right: 40px;
}

@media only screen and (max-width: 70em) {

  .navbar-logo {
    width: 80px;
    padding: 66px 0px 0px 72px;
  }

  html {
    font-size: 20px;
  }

  .content {
    padding: 0 3em 1em 3em;
    background-color: white;
  }

  .footer-left {
    padding-left: 3em;
    grid-area: footer-left;
  }

  .footer-right {
    padding-left: 3em;
    grid-area: footer-right;
  }
}

@media only screen and (max-width: 60em) {
  .nav-item {
    display: block;
    float: left;
    width: 100%;
    padding: 5px;
  }

  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.4em;
  }

  .content {
    padding: 0 2em 1em 2em;
    background-color: white;
  }

  .grid-container {
    display: block;
  }

  /* .grid-container-footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer-left footer-right";
  } */

  .footer-left {
    padding-left: 2em;
    grid-area: footer-left;
  }

  .footer-right {
    padding-left: 2em;
    grid-area: footer-right;
  }

  .navbar-nav {
    padding-top: 40px;
    padding-right: 40px;
  }
}
