/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/


html {
  font-size: 16px;
  color: black;
  font-family: 'Raleway', sans-serif;
  background-color: #1F1F1F;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: #E4572E;
}

.content {
  padding: 6em;
  min-height: 40em;
  background-color: white;
}

.footer {
  background-color: #1F1F1F;
  color: #969696;
}

a {
  color: #17BEBB;
}

  a:hover {
    text-decoration: none;
  }

.btn {
  background-color: #E4572E;
  height: 2em;
  width: 3em;
  padding: 0.8em;
  border-radius: 0.3em;
}

a.btn {
  color: white;
  text-decoration: none;
}

a:hover.btn {
  text-decoration: none;
  background-color: #17BEBB;
}

.logo {
  width: 200px;
  margin-right: 4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 30em 1auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logo-container content-container";
}

.logo-container {
  grid-area: logo-container;
}

.content-container {
  grid-area: content-container;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-left footer-right";
}

.footer-left {
  padding: 4em;
  grid-area: footer-left;
}

.footer-right {
  padding: 4em;
  grid-area: footer-right;
}

.icon-links {
  font-size: 3em;
}

.icon-links a {
  margin-right: 0.2em;
}

  .icon-links a:hover {
    color: white;
  }

@media only screen and (max-width: 60em) {
  .logo {
    width: 100px;
    text-align: left;
  }

  html {
    font-size: 14px;
  }

  .content {
    padding: 4em;
    background-color: white;
  }
}

.loading-text {
  color: white;
  text-align: center;
  margin-top: 3em;
}
