:root {
  --background: white;

  --light: #f9f9f9;
  --dark: #2e2e2e;
  --dark-opposite: #d1d1d1;

  --accent: #f3b623;
  --accent-inverted: #0c49dc;
  --dark-alternative: #969696;

  --footer-background: #1f1f1f;
  --footer-foreground: #969696;
  --content-background: white;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-size: 22px;
  color: var(--dark);
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  transition: filter 0.3s ease-in-out;
}

.dark body {
  filter: invert(100%);
}

h1,
h2 {
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  color: var(--accent);
}

.dark h2 {
  filter: invert(100%);
}

.accent {
  position: relative;
}

.accent:before {
  position: absolute;
  content: "";
  height: 0.2em;
  bottom: 0.2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: RGBA(243, 182, 35, 0.72);
}

.dark .accent:before {
  background: RGBA(12, 73, 220, 0.72);
}

.loading-text {
  color: var(--dark);
  text-align: center;
  margin-top: 3em;
}

.content {
  padding: 0 6em 1em 6em;
  min-height: 40em;
  background-color: var(--content-background);
  max-width: 1024px;
}

.footer {
  background-color: var(--footer-background);
  color: var(--footer-foreground);
  background-image: url("/assets/footer-background.png");
}

.footer a {
  color: var(--light);
}

a {
  color: var(--dark);
  position: relative;
  text-decoration: underline;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

.dark a:hover {
  filter: invert(100%);
}

.link {
  text-decoration: none;
}

.link:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--dark);
}

.link:hover:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--accent);
}

.dark .link:hover:before {
  background: var(--accent);
}

.logo {
  width: 200px;
  margin-right: 4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 30em 1auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logo-container content-container";
}

.logo-container {
  grid-area: logo-container;
}

.content-container {
  grid-area: content-container;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-left footer-right footer-toggle";
}

.footer-left {
  padding-left: 3em;
  grid-area: footer-left;
  align-self: center;
}

.footer-right {
  padding-left: 3em;
  grid-area: footer-right;
  align-self: center;
}

.footer-toggle {
  padding-right: 1em;
  font-size: 1em;
  grid-area: footer-toggle;
  align-self: center;
  text-align: right;
}

.icon-links {
  font-size: 3em;
}

.icon-links a {
  margin-right: 0.2em;
}

ul {
  list-style-type: square;
}

.sponsor-widget a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor-widget img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0px 0px 0px 2px var(--accent);
  transition: box-shadow 0.25s linear;
  margin: 0.5em;
}

.sponsor-widget img:hover {
  box-shadow: 0px 0px 0px 6px var(--accent);
  transition: box-shadow 0.25s linear;
}

.dark .sponsor-widget img {
  filter: invert(100%);
}

.navbar-logo {
  width: 80px;
  padding: 66px 0px 0px 144px;
}

.navbar-nav {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  text-align: right;
  flex-grow: 2;
  padding-top: 80px;
  padding-right: 40px;
}

.navbar {
  display: flex;
  color: var(--dark);
  background-image: url("/assets/top-background.png");
  background-repeat: repeat-x;
  border-top: 19px solid var(--dark);
  height: 366px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark);
}

.nav-link:hover:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--dark);
}

.nav-link:hover {
  color: var(--dark);
}

.dark .nav-link:hover {
  color: var(--dark-opposite);
}

.dark .nav-link:hover:before {
  filter: invert(100%);
}

.link-active a:before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--dark);
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 6px;
}

.switcher {
  display: inline-block;
  transform: scale(1.1);
  input {
    display: none;
  }

  label {
    display: block;
    height: 36px;
    width: 62px;
    border-radius: 50px;
    background: var(--dark-alternative);
    cursor: pointer;
    transition: 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      height: 28px;
      width: 28px;
      background: var(--light);
      border-radius: 50%;
      border-radius: 16px;
      z-index: 1;
      animation: off 0.5s ease-out;
      transform-origin: 0 0;
    }
  }

  input:checked + label {
    background: var(--light);

    &:before {
      transform: translateX(26px);
      animation: on 0.5s ease-out;
      transform-origin: 100% 0;
      background: var(--dark);
    }
  }
}

@keyframes off {
  0% {
    transform: translateX(24px);
  }
  20% {
    transform: translateX(13px) scaleX(1.1);
  }
  40% {
    transform: translateX(2px) scaleX(0.9);
  }
  70% {
    transform: translateX(6px) scaleX(1);
  }
  100% {
    transform: translateX(2px);
  }
}

@keyframes on {
  0% {
    -webkit-transform: translateX(2px);
  }
  20% {
    -webkit-transform: translateX(13px) scaleX(1.1);
  }
  40% {
    -webkit-transform: translateX(26px) scaleX(0.9);
  }
  70% {
    -webkit-transform: translateX(20px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(24px);
  }
}

@media only screen and (max-width: 70em) {
  .navbar-logo {
    width: 80px;
    padding: 66px 0px 0px 72px;
  }

  html {
    font-size: 20px;
  }

  .content {
    padding: 0 3em 1em 3em;
  }

  .footer-left {
    padding-left: 3em;
    grid-area: footer-left;
  }

  .footer-right {
    padding-left: 3em;
    grid-area: footer-right;
  }
}

@media only screen and (max-width: 60em) {
  .nav-item {
    display: block;
    float: left;
    width: 100%;
    margin-right: 20px;
  }

  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.4em;
  }

  .content {
    padding: 0 2em 1em 2em;
  }

  .grid-container {
    display: block;
  }

  .footer-left {
    padding-left: 2em;
    grid-area: footer-left;
  }

  .footer-right {
    padding-left: 2em;
    grid-area: footer-right;
  }

  .navbar-nav {
    padding-top: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 22em) {
  .navbar-logo {
    width: 80px;
    padding: 66px 0px 0px 30px;
  }

  .nav-item {
    display: block;
    float: left;
    width: 100%;
    margin-right: 10px;
  }

  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.4em;
  }

  .content {
    padding: 0 2em 1em 2em;
  }

  .grid-container {
    display: block;
  }

  .footer-left {
    padding-left: 2em;
    grid-area: footer-left;
  }

  .footer-right {
    padding-left: 2em;
    grid-area: footer-right;
  }

  .navbar-nav {
    padding-top: 40px;
    padding-right: 40px;
  }
}
