/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

html {
  font-size: 18px;
  color: black;
  font-family: "Raleway", sans-serif;
  background-color: #1f1f1f;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: #e4572e;
}

.loading-text {
  color: white;
  text-align: center;
  margin-top: 3em;
}

.content {
  padding: 6em;
  min-height: 40em;
  background-color: white;
}

.footer {
  background-color: #1f1f1f;
  color: #969696;
}

a {
  color: #17bebb;
}

a:hover {
  text-decoration: none;
}

.btn {
  background-color: #e4572e;
  height: 2em;
  width: 3em;
  padding: 0.8em;
  border-radius: 0.3em;
}

a.btn {
  color: white;
  text-decoration: none;
}

a:hover.btn {
  text-decoration: none;
  background-color: #17bebb;
}

.logo {
  width: 200px;
  margin-right: 4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 30em 1auto;
  grid-template-rows: 1fr;
  grid-template-areas: "logo-container content-container";
}

.logo-container {
  grid-area: logo-container;
}

.content-container {
  grid-area: content-container;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-left footer-right";
}

.footer-left {
  padding: 4em;
  grid-area: footer-left;
}

.footer-right {
  padding: 4em;
  grid-area: footer-right;
}

.icon-links {
  font-size: 3em;
}

.icon-links a {
  margin-right: 0.2em;
}

.icon-links a:hover {
  color: white;
}

ul {
  list-style-type: square;
}

.sponsor-widget a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor-widget img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0px 0px 0px 2px #17bebb;
  transition: box-shadow 0.25s linear;
  margin: 0.5em;
}

.sponsor-widget img:hover {
  box-shadow: 0px 0px 0px 6px #17bebb;
  transition: box-shadow 0.25s linear;
}

@media only screen and (max-width: 60em) {
  .logo {
    width: 100px;
    text-align: left;
  }

  html {
    font-size: 16px;
  }

  .content {
    padding: 4em;
    background-color: white;
  }

  .footer-left {
    padding: 3em;
    grid-area: footer-left;
  }

  .footer-right {
    padding: 3em;
    grid-area: footer-right;
  }
}

@media only screen and (max-width: 40em) {
  .logo {
    width: 100px;
    margin-right: 2em;
  }

  html {
    font-size: 16px;
  }

  .content {
    padding: 2em;
    background-color: white;
  }

  .grid-container {
    display: block;
  }

  .grid-container-footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer-left footer-right";
  }

  .footer-left {
    padding: 2em;
    grid-area: footer-left;
  }

  .footer-right {
    padding: 1em;
    grid-area: footer-right;
  }
}
