<h1>Blockcore // Platform</h1>

<h2>Node</h2>

<p>The node software is a full node software that runs the blockchain network. It is compatible with Bitcoin and utilized by other blockchains at the primary full node.</p>

<p>To build your own blockchain based on Blockcore you have two options; perform a fork of our primary source code, this is preferred if you need to radically modify the blockchain functionality.</p>

<p>The other way is to utilize our blockchain template, which is generated and relies on published on NuGet. This enables you to quickly and easily launch your own blockchain, and you will easily be able to get latest updates without messing with source code.</p>

<p>Source repo for template-based node: <a href="https://github.com/block-core/blockcore-node">https://github.com/block-core/blockcore-node</a> (Preferred)</p>

<p>Source repo for fork-based node: <a href="https://github.com/block-core/blockcore">https://github.com/block-core/blockcore</a></p>

<h2>Explorer</h2>

<p>Together with the Blockcore Indexer (below), we have made the Blockcore Explorer. If you have a normal Blockcore based blockchain, it is super easy to add support for your custom chain and deploy your blockchain explorer.</p>

<p>Code: <a href="https://github.com/block-core/blockcore-explorer">https://github.com/block-core/blockcore-explorer</a></p>

<p>Instances:</p>

<ul>
   <li><a href="https://city.explorer.blockcore.net">https://city.explorer.blockcore.net</a></li>
   <li><a href="https://strat.explorer.blockcore.net">https://strat.explorer.blockcore.net</a></li>
   <li><a href="https://xds.explorer.blockcore.net">https://xds.explorer.blockcore.net</a></li>
   <li><a href="https://xlr.explorer.blockcore.net">https://xlr.explorer.blockcore.net</a></li>
</ul>

<h2>Indexer</h2>

<p>Being able to look up blocks, transactions and addresses is an important part of any blockchain. It is very easy to add your own custom blockchain to the explorer.
</p>

<p>Code: <a href="https://github.com/block-core/blockcore-indexer">https://github.com/block-core/blockcore-indexer</a></p>

<p>Instances:</p>

<ul>
   <li><a href="https://city.indexer.blockcore.net">https://city.indexer.blockcore.net</a></li>
   <li><a href="https://strat.indexer.blockcore.net">https://strat.indexer.blockcore.net</a></li>
   <li><a href="https://xds.indexer.blockcore.net">https://xds.indexer.blockcore.net</a></li>
   <li><a href="https://xlr.indexer.blockcore.net">https://xlr.indexer.blockcore.net</a></li>
</ul>

<h2>Insight</h2>

<p>Blockcore Insight is a dashboard you can configure and deploy for your own blockchain, this gives insight to your blockchain, including links to social media, forums, announcements, exchanges are more.</p>

<p>Blockcore Insight has APIs that enables third parties to get insight to the economy and state of your blockchain, including total supply and circulating supply of your coin/token.</p>

<p>Code: <a href="https://github.com/block-core/blockcore-insight">https://github.com/block-core/blockcore-insight</a></p>

<p>Instances:</p>

<ul>
   <li><a href="https://insight.city-chain.org">https://insight.city-chain.org</a></li>
</ul>