<header>
   <nav class="navbar">
      <a class="navbar-brand" [routerLink]="['/']">
         <img class="navbar-logo" src="assets/blockcore-512.png">
      </a>
      <ul class="navbar-nav">
         <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/wallet']">Wallet</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/platform']">Platform</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/chains']">Chains</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/about']">About</a>
         </li>
      </ul>
   </nav>
   <!-- <div class="navigation" (click)="menu()">
      <div class="menuToggle"></div>
      <ul class="menu">
         <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/wallet']">Wallet</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/platform']">Platform</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/chains']">Chains</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/sponsors']">Sponsors</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/about']">About</a>
         </li>
      </ul>
   </div> -->

</header>
