<!-- <div class="grid-container"> -->
  <!-- <div class="logo-container">
     <img class="logo" src="assets/blockcore.png">
  </div> -->
  <!-- <div class="content-container"> -->
     <h1 class="title1"><span class="accent">Blockcore</span> is a platform that enables you to build your own blockchains.</h1>
     <!-- <h2 class="title2">
        Blockcore is a platform that enables you to build your own blockchains.
     </h2> -->
     <p>
        Blockcore is the foundation for realizing blockchains and includes core functionality to create your own custom blockchain with a lot of tooling supporting your blockchain.
     </p>
     <p>
        The tooling as part of the Blockcore platform includes; Block Explorer, Block Indexing, Block Analytics, Wallets, API Wallet Service, Developer Tooling, Documentation and more.
     </p>
     <p>
        Blockcore is under continuous development to stay at the cutting edge of Bitcoin and blockchain technology.   
        We invite you to engage with our community on our <a href="https://discord.gg/xa5BxWr">Discord</a>.
     </p>
     <p>
        <br>
        <a href="https://github.com/block-core" class="link">Get the source code</a>
     </p>
  <!-- </div>
</div> -->