@import 'variables';

.thumbnail {
   max-width: 175px;
   float: right;
   margin: 8px;
   border: 2px solid silver;
}

.thumbnail-large {
   max-width: 250px;
   float: right;
   margin: 8px;
   border: 2px solid silver;
}

.navigation {
   display: none;
}

@media (max-width:1110px) {
   .navbar-nav{
      display: none;
   }
   .navigation {
      position: absolute;
      top: 90px;
      right: 40px;
      width: 60px;
      height: 60px;
      background: #d8d6cd;
      box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      transition: height 0.5s, width 0.5s;
      transition-delay: 0s, 0.75s;
      overflow: hidden;
      z-index: 1000;
   }

   .navigation.active {
      width: 200px;
      height: 420px;
      transition: width 0.5s, height 0.5s;
      transition-delay: 0s, 0.75s;
   }

   /* Hamburguer toggle menu */

   .navigation .menuToggle {
      position: relative;
      width: 60px;
      height: 60px;
      background: #d8d6cd;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .navigation .menuToggle::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background: #555;
      transform: translateY(-10px);
      box-shadow: 0 10px #555;
      transition: 0.5s;
   }

   .navigation .menuToggle::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 2px;
      background: #555;
      transform: translateY(10px);
      transition: 0.5s;
   }

   .navigation.active .menuToggle::before {
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 #555;
   }

   .navigation.active .menuToggle::after {
      transform: translateY(0px) rotate(-45deg);
   }

   .menu {
      position: absolute;
      width: 160px;
      height: calc(100% - 60px);
      margin-top: 60px;
      padding: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
   }

   .menu li {
      list-style: none;
   }

   .menu li a {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
      font-size: 1em;
      text-decoration: none;
      color: #555;
   }

   .menu li a:hover {
      color: #4e65ff;
   }

}
