---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
 import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

 

  <!-- Features2 Widget ************** -->

  <Features2
  title="We are here to assist you!"
  items={[
    {
      title: 'General support',
      description: `Connect with us for inquiries related to account management, navigating the website, resolving payment issues, accessing purchased templates, or addressing general questions about the platform.`,
    } ,
        {
      title: 'Technical support',
      description:
        'We are here to help you troubleshoot issues like template installation, editing challenges, software compatibility problems, download errors, and other technical matters related to using our templates.',
    },
    {
        title: 'Email',
        description: 'For direct support inquiries, reach us via email at <a href="mailto:post@blockcore.net">post@blockcore.net</a>.',
        icon: 'tabler:mail',
      },
      {
        title: 'Discord',
        description: 'Join our Discord community for real-time support and discussions: <a href="https://www.blockcore.net/discord" target="_blank">https://www.blockcore.net/discord</a>.',
        icon: 'tabler:brand-discord',
      },
  ]}
/>

</Layout>
