---
import Image from './common/Image.astro';
import { SITE } from 'astrowind:config';

const logoLight = {
  src: '~/assets/images/blockcore-logo-1024.png',
  alt: SITE?.name || 'Logo',
};

const logoDark = {
  src: '~/assets/images/blockcore-logo-light-1024.png',
  alt: SITE?.name || 'Logo',
};
---

<a href="/" class="flex items-center ml-0 mr-auto" aria-label={SITE?.name}>
  <Image {...logoLight} style='height: 32px;' class="w-auto block dark:hidden" />
  <Image {...logoDark} style='height: 32px;' class="w-auto hidden dark:block" />
</a>
