<div class="footer footer-background">
   <div class="grid-container-footer">
      <div class="footer-left">
         <p>
            Blockcore is an open source project started by a group of blockchain developers and engineers to realize
            a fully integrated platform for building custom blockchains on .NET developer platform.
            <br>
            <a class="footer-link" routerLink="policy" fragment="policy">Privacy Policy</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="footer-link" routerLink="policy" fragment="terms">Terms and Conditions</a>
         </p>
      </div>
      <div class="footer-right">
         <p class="icon-links">
            <a href="https://www.github.com/block-core/"><i class="fab fa-github"></i></a>
            <a href="/discord"><i class="fab fa-discord"></i></a>
            <a href="https://twitter.com/blockcoredev"><i class="fab fa-twitter"></i></a>
         </p>
      </div>
      <div class="footer-toggle">

         <div class="mode-toggle">
            <input type="checkbox" id="switch" name="mode" [(ngModel)]="darkMode">
            <label for="switch"></label>
         </div>
      </div>
   </div>
</div>
