<div class="page-two">
   <h1>Platform</h1>

   <p>
      The platform is our ecosystem of various software and services that aligns
      with the vision of building decentralized software.
   </p>

   <p>
      We have blockchain <strong>Node</strong> software that is used by multiple
      blockchains. We have an <strong>Indexer</strong> (blockchain API) that
      builds a database of history, including tokens, NFTs, transactions and
      more. We have the <strong>Explorer</strong> that renders content from the
      Indexer We have the <strong>Wallet</strong>, which is a non-custodial
      wallet where the user is in control of their own keys. We have the
      <strong>DID Server</strong> for hosting and publishing decentralized
      identifiers. We have the <strong>Vault</strong> for storing and sharing
      your whole life of data in a private and secure manner. And even more such
      as <strong>Tipbot</strong> and decentralized
      <strong>DNS</strong> software.
   </p>

   <h2>Node</h2>

   <p>
      <a href="/assets/screenshots/blockcore-node.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-node.png"
            class="thumbnail" /></a
      >The node software is a full node software that runs the blockchain
      network. It is compatible with Bitcoin and utilized by other blockchains
      at the primary full node.
   </p>

   <p>
      To build your own blockchain based on Blockcore you have two options;
      perform a fork of our primary source code, this is preferred if you need
      to radically modify the blockchain functionality.
   </p>

   <p>
      The other way is to utilize our blockchain template, which is generated
      and relies on published on NuGet. This enables you to quickly and easily
      launch your own blockchain, and you will easily be able to get latest
      updates without messing with source code.
   </p>

   <p>
      To simplify using our tools, we have made
      <a routerLink="/create-chain"
         >instructions and generators available here</a
      >.
   </p>

   <p>
      Source repo for template-based node:
      <a href="https://github.com/block-core/blockcore-node"
         >https://github.com/block-core/blockcore-node</a
      >
      (Preferred)
   </p>

   <p>
      Source repo for fork-based node:
      <a href="https://github.com/block-core/blockcore"
         >https://github.com/block-core/blockcore</a
      >
   </p>

   <h2>Explorer</h2>

   <p>
      <a href="/assets/screenshots/blockcore-explorer.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-explorer.png"
            class="thumbnail" /></a
      >Together with the Blockcore Indexer (below), we have made the Blockcore
      Explorer. If you have a normal Blockcore based blockchain, it is super
      easy to add support for your custom chain and deploy your blockchain
      explorer.
   </p>

   <p>
      The explorer has sections for Network and Insight, which shows statistics
      on the network and supply (total supply, circulating supply, rewards) and
      economy information on the blockchain.
   </p>

   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-explorer"
         >https://github.com/block-core/blockcore-explorer</a
      >
   </p>

   <h2>Indexer</h2>

   <p>
      <a href="/assets/screenshots/blockcore-indexer.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-indexer.png"
            class="thumbnail" /></a
      >Being able to look up blocks, transactions and addresses is an important
      part of any blockchain. It is very easy to add your own custom blockchain
      to the explorer.
   </p>

   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-indexer"
         >https://github.com/block-core/blockcore-indexer</a
      >
   </p>

   <h2>Wallet</h2>

   <p>
      <a href="/assets/screenshots/blockcore-wallet.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-wallet.png"
            class="thumbnail" /></a
      >Blockcore Wallet is a Blockcore, Stratis and Cirrus Non-Custodial HD
      wallet in your browser for Coins, Tokens, Identities (DID), NFTs and more.
   </p>

   <p>
      Extension:
      <a
         href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj"
         >https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj</a
      >
   </p>
   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-wallet"
         >https://github.com/block-core/blockcore-wallet</a
      >
   </p>

   <h2>Vault</h2>

   <p>
      <a
         href="https://raw.githubusercontent.com/block-core/blockcore-vault/main/docs/blockcore-vault.png"
         target="_blank"
         ><img
            src="https://raw.githubusercontent.com/block-core/blockcore-vault/main/docs/blockcore-vault.png"
            class="thumbnail" /></a
      >Decentralized Web Node (DWN) for Web5, includes Verifiable Data Registry
      (VDR) for Decentralized Identifiers (DID) and Verifiable Credentials (VC)
      storage.
   </p>

   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-vault"
         >https://github.com/block-core/blockcore-vault</a
      >
   </p>

   <h2>Tipbot</h2>

   <p>
      <a href="/assets/screenshots/blockcore-tipbot.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-tipbot.png"
            class="thumbnail" /></a
      >Blockcore Tipbot is a generic tipping bot for Discord (future support for
      Twitch and Twitter is being added) that supports all Blockcore
      blockchains. It is easy to configure and use, and allows communities to
      easily tip based on community work and contributions.
   </p>

   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-tipbot"
         >https://github.com/block-core/blockcore-tipbot</a
      >
   </p>

   <h2>Identifiers</h2>

   <p>
      Blockcore is committed to supporting the ecosystem of Decentralized
      Identifiers (DIDs) and the DID method for Blockcore is "did:is:".
   </p>

   <p>
      DID Method: <a href="https://did.is/" target="_blank">https://did.is</a>
   </p>

   <p>
      Blockcore DID Server:
      <a href="https://github.com/block-core/blockcore-did-server"
         >https://github.com/block-core/blockcore-did-server</a
      >
   </p>

   <p>
      Specification:
      <a href="https://github.com/block-core/blockcore-did-method"
         >https://github.com/block-core/blockcore-did-method</a
      >
   </p>

   <h2>Status</h2>

   <p>
      <a href="/assets/screenshots/blockcore-status.png" target="_blank"
         ><img
            src="assets/screenshots/blockcore-status.png"
            class="thumbnail" /></a
      >Blockcore Status is an dashboard that monitors servers and services,
      source code repository, release versions and more. It's a single source
      for getting an complete overview of your Blockcore-based blockchains.
   </p>

   <p>
      Code:
      <a href="https://github.com/block-core/blockcore-status"
         >https://github.com/block-core/blockcore-status</a
      >
   </p>

   <h2>Packages (JavaScript)</h2>

   <p>
      We actively develop and maintain multiple JavaScript (client) packages
      that can be used for building apps that interacts with Blockcore-based
      blockchains and software.
   </p>

   <p>
      <a href="https://github.com/block-core/blockcore-provider"
         >@blockcore/provider</a
      >
   </p>

   <p>
      <a href="https://github.com/block-core/blockcore-dns-js"
         >@blockcore/dns</a
      >
   </p>

   <p>
      <a href="https://github.com/block-core/blockcore-identity"
         >@blockcore/identity</a
      >
   </p>

   <p>
      <a href="https://www.npmjs.com/org/blockcore"
         >See all @blockcore packages on npmjs</a
      >
   </p>

   <h2>Packages (.NET)</h2>

   <p>
      We actively develop and maintain multiple .NET nuget packages that can be
      used for building apps that interacts with Blockcore-based blockchains and
      software.
   </p>

   <p>
      <a href="https://www.nuget.org/profiles/BlockCore"
         >https://www.nuget.org/profiles/BlockCore</a
      >
   </p>
</div>
