<h1>Blockcore /// Platform</h1>

<h2>Node</h2>

<p><a href="/assets/screenshots/blockcore-node.png" target="_blank"><img src="assets/screenshots/blockcore-node.png" class="thumbnail-large"></a>The node software is a full node software that runs the blockchain network. It is compatible with Bitcoin and
   utilized by other blockchains at the primary full node.</p>

<p>To build your own blockchain based on Blockcore you have two options; perform a fork of our primary source code, this
   is preferred if you need to radically modify the blockchain functionality.</p>

<p>The other way is to utilize our blockchain template, which is generated and relies on published on NuGet. This
   enables you to quickly and easily launch your own blockchain, and you will easily be able to get latest updates
   without messing with source code.</p>

<p>To simplify using our tools, we have made <a routerLink="/create-chain">instructions and generators available
      here</a>.</p>

<p>Source repo for template-based node: <a
      href="https://github.com/block-core/blockcore-node">https://github.com/block-core/blockcore-node</a> (Preferred)
</p>

<p>Source repo for fork-based node: <a
      href="https://github.com/block-core/blockcore">https://github.com/block-core/blockcore</a></p>

<h2>Explorer</h2>

<p><a href="/assets/screenshots/blockcore-explorer.png" target="_blank"><img src="assets/screenshots/blockcore-explorer.png" class="thumbnail"></a>Together with the Blockcore Indexer (below), we have made the Blockcore Explorer. If you have a normal Blockcore
   based blockchain, it is super easy to add support for your custom chain and deploy your blockchain explorer.</p>

   <p>The explorer has sections for Network and Insight, which shows statistics on the network and supply (total supply, circulating supply, rewards) and economy information on the blockchain.</p>

<p>Code: <a href="https://github.com/block-core/blockcore-explorer">https://github.com/block-core/blockcore-explorer</a>
</p>

<h2>Indexer</h2>

<p><a href="/assets/screenshots/blockcore-indexer.png" target="_blank"><img src="assets/screenshots/blockcore-indexer.png" class="thumbnail"></a>Being able to look up blocks, transactions and addresses is an important part of any blockchain. It is very easy to
   add your own custom blockchain to the explorer.
</p>

<p>Code: <a href="https://github.com/block-core/blockcore-indexer">https://github.com/block-core/blockcore-indexer</a>
</p>

<h2>Wallet</h2>

<p><a href="/assets/screenshots/blockcore-wallet.png" target="_blank"><img src="assets/screenshots/blockcore-wallet.png" class="thumbnail"></a>Blockcore Wallet 
   is a Blockcore, Stratis and Cirrus Non-Custodial HD wallet in your browser for Coins, Tokens, Identities (DID), NFTs and more.
</p>

<p>Code: <a href="https://github.com/block-core/blockcore-wallet">https://github.com/block-core/blockcore-wallet</a>
</p>

<h2>Tipbot</h2>

<p><a href="/assets/screenshots/blockcore-tipbot.png" target="_blank"><img src="assets/screenshots/blockcore-tipbot.png" class="thumbnail"></a>Blockcore Tipbot is a generic tipping bot for Discord (future support for Twitch and Twitter is being added) that supports all Blockcore blockchains.
   It is easy to configure and use, and allows communities to easily tip based on community work and contributions.
</p>

<p>Code: <a href="https://github.com/block-core/blockcore-tipbot">https://github.com/block-core/blockcore-tipbot</a>
</p>

<h2>Decentralized Identifiers</h2>

<p>Blockcore is committed to supporting the ecosystem of Decentralized Identifiers (DIDs) and the DID method for Blockcore is "did:is:". This is a work in progress.
</p>

<p>Specification: <a href="https://github.com/block-core/blockcore-did-method">https://github.com/block-core/blockcore-did-method</a>
</p>

<h2>Status</h2>

<p><a href="/assets/screenshots/blockcore-status.png" target="_blank"><img src="assets/screenshots/blockcore-status.png" class="thumbnail"></a>Blockcore Status 
   is an dashboard that monitors servers and services, source code repository, release versions and more. It's a single source for getting an complete overview 
   of your Blockcore-based blockchains.

</p>

<p>Code: <a href="https://github.com/block-core/blockcore-status">https://github.com/block-core/blockcore-status</a>
</p>