<div class="wrap">
   <div class="app_block">
       <div class="app_block_info">
         <div class="product-box">
         <div class="product-box-logo">
            <img src="assets/blockcore-logo-1024.png" class="mode-aware">
         </div>
         <div class="product-box-title product-wallet">
            <h2>Wallet</h2>
         </div>
      </div>
           <div class="app_block_caption">
            Blockcore Wallet is a Blockcore, Stratis and Cirrus Non-Custodial HD wallet in your browser for Coins, Tokens, Identities (DID), NFTs and more.
           </div>
           <div class="app_block_buttons">
               <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank" class="button chrome">Download Extension</a>
               <a href="https://github.com/block-core/blockcore-wallet" target="_blank" class="button github">Source Code</a>

           </div>
       </div>
       <div class="app_block_screen">
           <div class="app_block_screen_img"></div>
       </div>
   </div>
   <div class="features">
      <div class="features_group">
          <div class="features_item">
              <div class="features_item_icon speed"></div>
              <div class="features_item_cont">
                  <div class="features_item_title">Blockcore</div>
                  <div class="features_item_caption">
                    Blockcore is a platform that enables you to build your own blockchains.                   </div>
              </div>
          </div>
          <div class="features_item">
              <div class="features_item_icon secure"></div>
              <div class="features_item_cont">
                  <div class="features_item_title">Blockcore</div>
                  <div class="features_item_caption">
                    Blockcore is a platform that enables you to build your own blockchains.                   </div>
              </div>
          </div>
          <div class="features_item">
              <div class="features_item_icon exchange"></div>
              <div class="features_item_cont">
                  <div class="features_item_title">
                      Built-in exchange
                      <div class="features_item_badge">Soon</div>
                  </div>
                  <div class="features_item_caption">
                      Buy Bitcoin And other blockcore chains coin and swap they on decentralized markets all directly within the Blockcore Wallet.
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
