<div class="page-two">
   <div class="wallet-grid">
      <div class="wallet-info">
         <h1>Wallet</h1>
         <p>
            Blockcore Wallet is a Blockcore, Stratis and Cirrus Non-Custodial HD
            wallet in your browser for Coins, Tokens, Identities (DID), NFTs and
            more.
         </p>
         <p class="inner">
            <a
               href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj"
               target="_blank"
               class="link"
               >Browser Extension</a
            ><br />
            <a href="https://wallet.blockcore.net/" target="_blank" class="link"
               >Web Wallet</a
            >
         </p>
         <br>
         <p>
            Learn everything about it in our
            <a routerLink="guide">Blockcore Wallet Guide</a>.
         </p>
      </div>
      <div class="wallet-screen">
         <img class="screenshot" src="/assets/wallet.png" />
      </div>
   </div>
</div>
