<div class="page light-text">
   <p><strong>Decentralize everything</strong> is our vision.</p>

   <p>
      We make the <strong>building blocks</strong> for modern decentralized
      societies.
   </p>

   <p>
      Our <strong>free and open-source</strong> software can be adopted to make
      existing systems <strong>permanently unnecessary</strong>.
   </p>

   <p>
      If you're building a free city or intentional community, or modernizing
      existing society, we can help you.
   </p>
</div>
