<div class="wrap">
   <div class="app_block">
      <div class="app_block_info">
         <p class="splash-logo">
            <img
               src="/assets/blockcore-logo-1024.png"
               class="logo-text mode-aware"
            />
         </p>

         <h2 class="title1">
            <span class="accent">Blockcore</span> is a platform that enables you
            to build decentralized systems.
         </h2>
         <div class="">
            <p>
               Blockcore is the foundation for realizing decentralized software
               (Web5) and blockchains (Web3). Our software includes core
               functionality to create your own custom blockchain with a lot of
               tooling supporting your blockchain.
            </p>

            <!-- <p>
               Blockcore blockchains is entirely open source and built on .NET and has an active and engaged community that
               contributes to the ecosystem.
            </p> -->
            <!-- <p>
               The tooling as part of the Blockcore <a routerLink="/platform" class="link">platform</a> includes; Block
               Explorer, Block Indexing,
               Block Analytics, Wallets, API Wallet Service, Developer Tooling, Documentation and more.
            </p>
            <p>
               Blockcore is under continuous development to stay at the cutting edge of Bitcoin and blockchain technology.
               We invite you to engage with our community on our <a href="https://www.blockcore.net/discord"
                  class="link">Discord</a>.
            </p> -->
            <p>Blockcore is <strong>completely free</strong> in every way!</p>
         </div>
         <div class="app_block_buttons">
            <a
               href="https://github.com/block-core"
               target="_blank"
               class="button github"
               >GitHub</a
            >
            <a
               href="https://www.blockcore.net/discord"
               target="_blank"
               class="button discord"
               >Discord</a
            >
         </div>
      </div>
   </div>
   <div class="features">
      <div class="features_group">
         <div class="features_item">
            <div class="features_item_icon speed"></div>
            <div class="features_item_cont">
               <div class="features_item_title">
                  <a routerLink="/wallet">Blockcore Wallet</a>
               </div>
               <div class="features_item_caption">
                  Non-Custodial HD wallet in your browser for Coins, Tokens,
                  Identities (DID), NFTs and more.
               </div>
            </div>
         </div>
         <div class="features_item">
            <div class="features_item_icon secure"></div>
            <div class="features_item_cont">
               <div class="features_item_title">
                  <a routerLink="/platform" fragment="vault">Blockcore Vault</a>
               </div>
               <div class="features_item_caption">
                  Decentralized Web Node for keeping your data safe and private,
                  built on Web5 technology.
               </div>
            </div>
         </div>
         <div class="features_item">
            <div class="features_item_icon exchange"></div>
            <div class="features_item_cont">
               <div class="features_item_title">
                  Blockcore Explorer
                  <div class="features_item_badge">Soon</div>
               </div>
               <div class="features_item_caption">
                  Buy Bitcoin And other blockcore chains coin and swap they on
                  decentralized markets all directly within the Blockcore
                  Wallet.
               </div>
            </div>
         </div>
      </div>
   </div>
   ... and of course, Blockcore Node, Blockcore Indexer, Blockcore Tipbot and
   <a routerLink="/platform">even more</a>...
</div>
