<div class="product-box">
  <div class="product-box-logo">
     <img src="assets/blockcore-logo-1024.png" class="mode-aware">
  </div>
  <div class="product-box-title product-gray">
     <h2>Sponsors</h2>
  </div>
</div>

<h2>Sponsoring</h2>

<p>Blockcore is a group of independent individuals without any official organization behind it. All work is done on
  voluntary basis.</p>

<p>If you enjoy our software and services, please feel free to help continue the development and improvement of the
  Blockcore Platform by becoming an sponsor.</p>

<p>
  Funds provided to the Blockcore team will be utilized for server infrastructure, hosting services and other expenses
  related to the continued development and hosting of the Blockcore Platform.
</p>

<h3>Open Collective: Blockcore</h3>

<p>
  <a href="https://opencollective.com/blockcore">https://opencollective.com/blockcore</a>
</p>

<h3>GitCoin</h3>

<p>
  <a href="https://gitcoin.co/grants/1172/the-blockcore-fund">https://gitcoin.co/grants/1172/the-blockcore-fund</a>
</p>

<h3>Alternative</h3>

<p>
  If you'd like to become an official sponsor, please contact us by e-mail at <a
    href="mailto:post@blockcore.net">post@blockcore.net</a>.
</p>

<h2>Funding</h2>

<p>October 2021 a team of Blockcore-members received funding from the <a href="https://www.stratisplatform.com/decentralized-accelerator/">Stratis Decentralized Accelerator</a> to develop
  <a href="https://www.coinvault.io">CoinVault</a>, a browser extension based wallet for Stratis and Cirrus blockchain.</p>