<h1>Blockcore /// Policy</h1>

<h3>Blockcore Extension / CoinVault</h3>

<p>This software is provided with no warranty.</p>

<p>Blockcore does not currently collect any information about you as a person. This can change in the future, with new
  features available. A change to the privacy policy, will be announced.</p>

<p>Whenever you perform transactions, the transactions is store on a public chain of blocks (blockchain). You can never
  remove this information, they are locked in the chain.</p>

<p>When you use the wallets in Blockcore, all your addresses will be sent to the Blockcore Server.</p>

<h3>Other software</h3>

<p>This software is provided with no warranty.</p>

<p>None of other Blockcore software tracks or logs person identifiable information.</p>