<h1>Blockcore /// Policy</h1>

<h3>Blockcore Wallet / CoinVault / Smart City Platform</h3>

<p>This software is provided with no warranty.</p>

<p>Blockcore does not currently collect any information about you as a person. This can change in the future, with new
  features available. A change to the privacy policy, will be announced.</p>

<p>Whenever you perform transactions, the transactions is store on a public chain of blocks (blockchain). You can never
  remove this information, they are locked in the chain.</p>

<p>When you use the wallets in Blockcore, all your addresses will be sent to the Blockcore Server.</p>

<h3>Decentralized Identifiers</h3>

<p>When you use decentralized identifiers, you can choose to publish and make your identifiers and profiles attached to those identifiers,
  available to the public.</p>

<p>Profiles are not stored on blockchain and can be withdrawn (unpublished) from public access at any time, given you do not loose access to your wallet.</p>

<p>We advise to share as little information as possible in profiles attached to decentralized identifiers.</p>

<h3>Other software</h3>

<p>This software is provided with no warranty.</p>

<p>None of other Blockcore software tracks or logs person identifiable information. We do not perform an activity tracking or logging.</p>